// =============================================================================
// HEADER (CSS)
//
// 1. Setting font size of header-logo to 0, since wrapper element may vary, and
//    inline-block whitespace messes with header height. Font-size is reset to
//    appropriate size on header-logo-text.
// 2. Needs left/right margin so it doesn't cover left/right nav bar toggles
// 3. Offset the letter-spacing on the last character by adding a right negative
//    margin. This centers the text logo properly.
// 4. When the word "cart" is added to the mobile header's cart link, add more
//    margin to compensate.
// 5. When logo size is set to "original", we don't have advance knowledge of the
//    image size, so we can't use absolute positioning + padding to reserve space
//    for lazy loading.
//
// -----------------------------------------------------------------------------

.header {
    background-color: rgba(255, 255, 255, 0.95);
    //background-color: $header-bg;
    border-bottom: container("border");
    position: fixed;
    top: 0;
    width: 100%;
    z-index: zIndex("higher");
    height: $header-height;


    @include breakpoint("large") {
        border-bottom: container("border");
        overflow: visible;
        position: relative;
        height: auto;
        box-shadow: 0px -5px 20px -2px rgba(0,0,0,0.25);
    }

    &.is-open {
        height: 100%;

        @include breakpoint("large") {
            height: auto;
        }
    }
}

.header-logo {
    font-size: 0;   // 1
    //margin: 0 remCalc($header-toggle-width); // 2
    text-align: center;
    display: inline-block;
    height: 55px;
    background-color: white;
    z-index: zIndex("low");
    box-shadow: 0px -5px 20px -2px rgba(0,0,0,0.25);

    @include breakpoint("small") { // 4
        //margin-left: remCalc($header-toggle-width * 1.5);
        //margin-right: remCalc($header-toggle-width * 1.5);
    }

    @include breakpoint("large") {
        //margin: spacing("single") auto spacing("single");
        display: block;
        padding: 0;
        box-shadow: none;

        .header.fixed & {
            background-color: color("greys", "lightest");
            margin: 0;
            padding: spacing("quarter") 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    &__link {
        @include clearfix;
        color: $storeName-color;
        height: inherit;
        display: flex;
        align-items: center;
        margin: 0 auto;
        position: relative;
        text-decoration: none;
        width: 70%;

        // scss-lint:disable NestingDepth
        @include breakpoint("large") {
            background: none;
            border-bottom: 0;
            display: inline;
            padding: 0;
            width: 100%;
        }

        &:hover {
            color: color("link", "hover");
        }

        &:active {
            color: color("link", "active");
        }
    }
}

.header-logo--left {
    text-align: center;

    @include breakpoint("large") {
        text-align: left;
        margin-left: remCalc(30px);
    }

    .header-logo-image {
        right: unset;
    }
}

.header-logo--right {
    text-align: right;

    @include breakpoint("large") {
        margin-right: remCalc(40px);
    }

    .header-logo-image {
        left: unset;
    }
}

.header-logo-text {
    display: block;
    font-family: $fontFamily-hero;
    font-size: $fontSize-logo-small;   // 1
    font-weight: stencilFontWeight("headings-font");
    letter-spacing: remCalc(2px);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;

    @include breakpoint("small") {
        font-size: $fontSize-logo-medium;
    }

    @include breakpoint("large") {
        display: inline;
        font-size: $fontSize-logo-large;
        max-width: none;
        overflow: auto;
        white-space: normal;

        .header.fixed & {
            font-size: fontSize("larger");
        }
    }
}

.header-logo-image-container {
    position: relative;
}

.header-logo-image-container:after {
    content: '';
    display: block;
    padding-bottom: remCalc($header-height) - $header-logo-marginVertical * 2;

    @include breakpoint("large") {
        padding-bottom: get-height(stencilString('logo_size'));
    }
}

.header-logo-image {
    @include lazy-loaded-img;
    max-height: remCalc($header-height) - $header-logo-marginVertical * 2;
    position: relative;
    @include breakpoint("large") {
        max-height: none;
    }
}

.header-logo-image-unknown-size { // 5
    max-height: remCalc($header-height) - $header-logo-marginVertical * 2;

    @include breakpoint("large") {
        max-height: none;
    }
}

.heading-flex {
    display: flex;
    background-color: white;
    text-align: center;

    .header-logo {
        flex: 3;
        margin: auto;

        @include breakpoint("large") {
            padding: 10px 0px 10px 30px;

        }
    }

    .dropdown--quickSearch {
        flex: 16;
        display: none;
        padding: 0 spacing("single");
        background-color: transparent;

        font-family: stencilFontFamily("editor-font"), Arial, "Helvetica Neue", Helvetica, sans-serif;

        @include breakpoint("large") {
            display: flex;
        }
    }

    .that-which-shall-stay-on-the-right-of-that-which-is-not-a-container {
        display: inline-block;
        flex: 2;
        margin: auto;
        text-align: right;
        z-index: zIndex("low");
        position: absolute;
        right: 0;

        @include breakpoint("large") {
            position: relative;
        }

        a {
            :hover {
                opacity: 0.5;
                transition: opacity 0.3s ease-in-out;
            }
        }

        #cart-icon {
            height: 25px;

            @include  breakpoint("large") {
                height: 35px;
            }
        }

        #cart-link {
            padding: remCalc(18);
        }
    }
}

.form-input {
    border: 1px solid #828282;
    border-radius: 4px;
}

//
// Mobile Menu Toggle
//
// 1. Animate lines from 'x' to hamburger
// -----------------------------------------------------------------------------

.mobileMenu-toggle {
    @include square($header-toggle-width);
    display: inline-block;
    font-size: 0;
    left: 0;
    overflow: hidden;
    padding: 0 remCalc(18);
    position: absolute;
    z-index: zIndex("high");

    @include breakpoint("large") {
        display: none;
    }

    .mobileMenu-toggleIcon,
    .mobileMenu-toggleIcon::before,
    .mobileMenu-toggleIcon::after {
        background: $header-font-color;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        transform: rotate(0deg);
        transition: transform 100ms ease-in, top 100ms ease-in 150ms, bottom 100ms ease-in 150ms; // 1
        width: remCalc(20);
    }

    .mobileMenu-toggleIcon {
        top: remCalc(26);
        transition: background-color 10ms ease-in 100ms;
    }

    .mobileMenu-toggleIcon::before {
        top: -0.5rem;
    }

    .mobileMenu-toggleIcon::after {
        bottom: -0.5rem;
    }

    &.is-open .mobileMenu-toggleIcon {
        background-color: transparent;
        transition-delay: 100ms;

        // scss-lint:disable NestingDepth
        &::before,
        &::after {
            background-color: $header-font-color;
            bottom: auto;
            top: auto;
            transition: transform 100ms ease-in 150ms, top 100ms ease-in, bottom 100ms ease-in; // Animate lines from hamburger to 'x'
        }

        &::before {
            top: 0;
            transform: rotate(45deg);
        }

        &::after {
            bottom: 0;
            transform: rotate(-45deg);
        }

    }
}


//
// Pages Nav
//

.pages-subMenu {
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
    border-top: none;
    //background-color: stencilColor("navPages-subMenu-backgroundColor");
    //padding: spacing("single") spacing("single") (spacing("single") + spacing("half")) !important;
    position: absolute;
    text-align: left;

    display: none;

    &.is-open {
        display: block;
        //left: 0;
        //width: 100%;
    }

    .navPages-action-moreIcon {
        display: none;
    }
}