// =============================================================================
// SIDEBAR BLOCKS (CSS)
// =============================================================================


// Block
// -----------------------------------------------------------------------------

.sidebarBlock {

    + .sidebarBlock {
        border-top: container("border");
        margin-top: spacing("single") + spacing("third");
        padding-top: spacing("single") + spacing("third");
    }
}

.sidebarBlock-heading {
    margin-top: 0;
    text-transform: uppercase;
}

.sidebarBlock ul {
    li {
        border-top: solid 1px stencilColor('input-border-color');
        padding: spacing('quarter') 0;

        display: flex;
        align-items: center;

        a {
            flex-grow: 1;
        }
    }

    li:last-child {
        border-bottom: solid 1px stencilColor('input-border-color');
    }
}

.sidebarBlock ul, .cat-desc p {
    @include breakpoint("medium") {
        padding-left: spacing('half');
    }
}