// =============================================================================
// GRID (CSS)
// =============================================================================

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: layout("max") + ($container-padding * 4);
  padding: 0 $container-padding;
  position: relative;
  width: layout("fixed");

  @include breakpoint("large") {
    padding: 1rem ($container-padding * 4) 1rem;
  }
}

.cat-head {
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;

  .cat-head-bkgd {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.15);
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;

    h1 {
      color: white;
    }
  }
}



// QUICK LINKS

#quicklinks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.box-small {
  flex: 1;

  height: 90px;
  margin: 0%;
  background: no-repeat center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  text-align: center;

  transition: all 0.2s ease;
  -moz-transition: background-size 0.2s ease;
  -ms-transition: background-size 0.2s ease;
  -o-transition: background-size 0.2s ease;
  -webkit-transition: background-size 0.2s ease;

  // mobile styles
  flex-basis: 50%;
  background-size: 100%;
  font-size: 16px;

  @media screen and ( max-width: 900px ) {
     //flex-basis: 50%;                   /* forces three items to a line */
  }

  @media screen and ( max-width: 1000px ) {


  }

  @include breakpoint('medium') {
    font-size: 18px;

    background-size: 100%;

    flex-basis: 33%;
  }

  @include breakpoint('large') {
    flex-basis: 15%;
  }
}

.box-small:hover {
  background-size: 110%;
}

//.box-small:nth-child(even) {
//  color: #20495b
//}

.box-full > .box-text {
  color: #040404;
}

.card-image {
  //max-width: 90%;
}


.whtbkgd {
  //background-color: rgba(0, 0, 0, .2);
  width: 100%;
  height: 100%;
  transition: all .2s ease;
  font-family: $header-font-family;
  font-size: 20px;
  color: #ffffff;

  display: flex;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  justify-content: center;

  padding: 5px;
}