<div class="compat-contents" style="display: none">
    <div class="compat-search-bar">
        <form>
            <input class="form-input" type="text" placeholder="Search">
        </form>
    </div>
    <div class="compat-main-content">
        <div class="compat-chem-list">
            <p class="compat-err-message"></p>
            <div class="compat-list-item dummy">
                <p class="compat-chem-name">Chemname</p>
                <i class="icon compat-detail-chevron"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
            </div>

            <div class="compat-list-item">
                <h3 class="compat-chem-name">Glycerin</h3>
                <i class="icon compat-detail-chevron"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
            </div>

            <div class="compat-list-item active">
                <h3 class="compat-chem-name">Glycerin</h3>
                <i class="icon compat-detail-chevron"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
            </div>

            <div class="compat-list-item">
                <h3 class="compat-chem-name">Glycerin</h3>
                <i class="icon compat-detail-chevron"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
            </div>

            <div class="compat-list-item">
                <h3 class="compat-chem-name">Glycerin</h3>
                <i class="icon compat-detail-chevron"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
            </div>

            <div class="compat-list-item">
                <h3 class="compat-chem-name">Glycerin</h3>
                <i class="icon compat-detail-chevron"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
            </div>

            <div class="compat-list-item">
                <h3 class="compat-chem-name">Glycerin</h3>
                <i class="icon compat-detail-chevron"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
            </div>

            <div class="compat-list-item">
                <h3 class="compat-chem-name">Glycerin</h3>
                <i class="icon compat-detail-chevron"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
            </div>

            <div class="compat-list-item">
                <h3 class="compat-chem-name">Glycerin</h3>
                <i class="icon compat-detail-chevron"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
            </div>

            <div class="compat-list-item">
                <h3 class="compat-chem-name">Glycerin</h3>
                <i class="icon compat-detail-chevron"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
            </div>

            <div class="compat-list-item">
                <h3 class="compat-chem-name">Glycerin</h3>
                <i class="icon compat-detail-chevron"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
            </div>

            <div class="compat-list-item">
                <h3 class="compat-chem-name">Glycerin</h3>
                <i class="icon compat-detail-chevron"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
            </div>

            <div class="compat-list-item">
                <h3 class="compat-chem-name">Glycerin</h3>
                <i class="icon compat-detail-chevron"><svg><use xlink:href="#icon-chevron-right" /></svg></i>
            </div>

        </div>
        <div class="compat-chem-details">
            <h3 class="compat-header gt100header">GT100</h3>
            <p class="compat-gt100">Best</p>
            <h3 class="compat-header gt200header">GT200</h3>
            <p class="compat-gt200">Fair</p>
            <h3 class="compat-header gt300header">GT300</h3>
            <p class="compat-gt300">Do not use</p>
            <h3 class="compat-header hose1header">Primary Hose</h3>
            <p class="compat-hose1">HTkdkd</p>
            <h3 class="compat-header hose2header">Secondary Hose</h3>
            <p class="compat-hose2">sdkfj</p>
            <h3 class="compat-header notesheader">Notes</h3>
            <p class="compat-notes">See notes</p>
        </div>
    </div>
</div>