<div class="compat-contents" style="display: none">
    <div class="compat-search-bar">
        <form class="compat-search-form">
            <input class="compat-search-input form-input" type="text" placeholder="Search">
        </form>
    </div>
    <div class="compat-main-content">
        <p class="compat-err-message"></p>
        <div class="compat-chem-list">
            <div class="dummy">
                <div class="compat-list-item">
                    <p class="compat-chem-name">Chemname</p>
                    <i class="icon compat-detail-chevron">
                        <svg>
                            <use xlink:href="#icon-chevron-right"/>
                        </svg>
                    </i>
                </div>
            </div>

        </div>
        <div class="compat-chem-details">
            <h3 class="compat-header chemname"></h3>
            <h3 class="compat-header gt100header">GT100</h3>
            <p class="compat-gt100"></p>
            <h3 class="compat-header gt200header">GT200</h3>
            <p class="compat-gt200"></p>
            <h3 class="compat-header gt300header">GT300</h3>
            <p class="compat-gt300"></p>
            <h3 class="compat-header hose1header">Primary Hose</h3>
            <p class="compat-hose1"></p>
            <h3 class="compat-header hose2header">Secondary Hose</h3>
            <p class="compat-hose2"></p>
            <h3 class="compat-header notesheader">Notes</h3>
            <p class="compat-notes"></p>
        </div>
    </div>
</div>