<div class="homepagebanner" style="background-image: url(https://www.makeyourown.buzz/content/images/bluprintthme_hires.jpg);
width: 100%; background-size: contain; background-position: center; background-repeat: no-repeat">

    <a href="/">
        <img class="heroCarousel-image" src="https://www.makeyourown.buzz/content/images/bluprintthme_hires.jpg" alt="MakeYourOwn.buzz" title="MakeYourOwn.buzz"/>
    </a>

</div>


    <!--[[#each carousel.slides]]-->
<!--&lt;!&ndash;<div class="banner" style="background-image: url([[image]]); width: 100%; background-size: contain">&ndash;&gt;-->

    <!--&lt;!&ndash;<a href="[[url]]">&ndash;&gt;-->
        <!--&lt;!&ndash;<img class="heroCarousel-image" src="[[image]]" alt="[[alt_text]]" title="[[alt_text]]"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<img class="heroCarousel-image" src="https://www.makeyourown.buzz/content/images/newtemplate.png" alt="[[alt_text]]" title="[[alt_text]]"/>&ndash;&gt;-->
        <!--[[#if heading]]-->
        <!--[[> components/carousel-content show_background=true]]-->
        <!--[[else]]-->
        <!--[[#if text]]-->
        <!--[[> components/carousel-content show_background=true]]-->
        <!--[[else]]-->
        <!--[[#if button_text]]-->
        <!--[[> components/carousel-content show_background=false]]-->
        <!--[[/if]]-->
        <!--[[/if]]-->
        <!--[[/if]]-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--[[/each]]-->
